:global(.vtex-store__template),
:global(.vtex-modal-layout-0-x-container),
:global(.vtex-minicart-2-x-drawer),
:global(.vtex-telemarketing-2-x-portalContainer),
:global(.vtex-login-2-x-portalContainer) {
  --black-dark: #000000;
  --fresh-blue: #0067c7;
  --fresh-blue-dark: #0067c7;
  --fresh-blue-lightest: #fafafa;
  --fresh-orange: #f5333f;
  --fresh-darkest: #003364;
  --green-dark: #468a2e;
  --black-medium: #717786;
  --b2b-header-blue-medium: #FFF;
  --blue-medium: #597298;
  --b2b-blue-darkest: #444444;
  --lines-dark: #bdc9d6;
  --lines-darker: #a3afbc;
  --lines-light: #dee7ef;
  --serious-blue-dark: #214d8e;
  --serious-black: #142032;
  --serious-orange: #f5333f;
  --base: #fff;
}

:global(.vtex-store-link-0-x-link--vtex-button) {
  background-color: #f5333f !important;
  border-color: #f5333f !important;
}
